<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lockie.product.mapper.ShopProductMapper">
  <resultMap id="BaseResultMap" type="com.lockie.product.model.ShopProduct">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="product_name" jdbcType="VARCHAR" property="productName" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="product_color" jdbcType="VARCHAR" property="productColor" />
    <result column="img_url" jdbcType="VARCHAR" property="imgUrl" />
    <result column="product_url" jdbcType="VARCHAR" property="productUrl" />
    <result column="sku" jdbcType="VARCHAR" property="sku" />
    <result column="asin" jdbcType="VARCHAR" property="asin" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="country_code" jdbcType="VARCHAR" property="countryCode" />
    <result column="channel" jdbcType="VARCHAR" property="channel" />
    <result column="active" jdbcType="INTEGER" property="active" />
    <result column="create_by" jdbcType="INTEGER" property="createBy" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="update_by" jdbcType="INTEGER" property="updateBy" />
    <result column="update_date" jdbcType="TIMESTAMP" property="updateDate" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.lockie.product.model.ShopProduct">
    <result column="product_desc" jdbcType="LONGVARCHAR" property="productDesc" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, product_name, short_name, product_color, img_url, product_url, sku, asin, model, 
    country_code, channel, active, create_by, create_date, update_by, update_date
  </sql>
  <sql id="Blob_Column_List">
    product_desc
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.lockie.product.model.ShopProductExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.lockie.product.model.ShopProductExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from shop_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from shop_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from shop_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.lockie.product.model.ShopProductExample">
    delete from shop_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.lockie.product.model.ShopProduct">
    insert into shop_product (id, product_name, short_name, 
      product_color, img_url, product_url, 
      sku, asin, model, country_code, 
      channel, active, create_by, 
      create_date, update_by, update_date, 
      product_desc)
    values (#{id,jdbcType=INTEGER}, #{productName,jdbcType=VARCHAR}, #{shortName,jdbcType=VARCHAR}, 
      #{productColor,jdbcType=VARCHAR}, #{imgUrl,jdbcType=VARCHAR}, #{productUrl,jdbcType=VARCHAR}, 
      #{sku,jdbcType=VARCHAR}, #{asin,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{countryCode,jdbcType=VARCHAR}, 
      #{channel,jdbcType=VARCHAR}, #{active,jdbcType=INTEGER}, #{createBy,jdbcType=INTEGER}, 
      #{createDate,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=INTEGER}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{productDesc,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.lockie.product.model.ShopProduct">
    insert into shop_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="productName != null">
        product_name,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="productColor != null">
        product_color,
      </if>
      <if test="imgUrl != null">
        img_url,
      </if>
      <if test="productUrl != null">
        product_url,
      </if>
      <if test="sku != null">
        sku,
      </if>
      <if test="asin != null">
        asin,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="countryCode != null">
        country_code,
      </if>
      <if test="channel != null">
        channel,
      </if>
      <if test="active != null">
        active,
      </if>
      <if test="createBy != null">
        create_by,
      </if>
      <if test="createDate != null">
        create_date,
      </if>
      <if test="updateBy != null">
        update_by,
      </if>
      <if test="updateDate != null">
        update_date,
      </if>
      <if test="productDesc != null">
        product_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="productName != null">
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="productColor != null">
        #{productColor,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null">
        #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        #{sku,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        #{asin,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        #{channel,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        #{active,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productDesc != null">
        #{productDesc,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.lockie.product.model.ShopProductExample" resultType="java.lang.Long">
    select count(*) from shop_product
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update shop_product
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.productName != null">
        product_name = #{record.productName,jdbcType=VARCHAR},
      </if>
      <if test="record.shortName != null">
        short_name = #{record.shortName,jdbcType=VARCHAR},
      </if>
      <if test="record.productColor != null">
        product_color = #{record.productColor,jdbcType=VARCHAR},
      </if>
      <if test="record.imgUrl != null">
        img_url = #{record.imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.productUrl != null">
        product_url = #{record.productUrl,jdbcType=VARCHAR},
      </if>
      <if test="record.sku != null">
        sku = #{record.sku,jdbcType=VARCHAR},
      </if>
      <if test="record.asin != null">
        asin = #{record.asin,jdbcType=VARCHAR},
      </if>
      <if test="record.model != null">
        model = #{record.model,jdbcType=VARCHAR},
      </if>
      <if test="record.countryCode != null">
        country_code = #{record.countryCode,jdbcType=VARCHAR},
      </if>
      <if test="record.channel != null">
        channel = #{record.channel,jdbcType=VARCHAR},
      </if>
      <if test="record.active != null">
        active = #{record.active,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null">
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null">
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null">
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null">
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.productDesc != null">
        product_desc = #{record.productDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update shop_product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      short_name = #{record.shortName,jdbcType=VARCHAR},
      product_color = #{record.productColor,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      product_url = #{record.productUrl,jdbcType=VARCHAR},
      sku = #{record.sku,jdbcType=VARCHAR},
      asin = #{record.asin,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      country_code = #{record.countryCode,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      product_desc = #{record.productDesc,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update shop_product
    set id = #{record.id,jdbcType=INTEGER},
      product_name = #{record.productName,jdbcType=VARCHAR},
      short_name = #{record.shortName,jdbcType=VARCHAR},
      product_color = #{record.productColor,jdbcType=VARCHAR},
      img_url = #{record.imgUrl,jdbcType=VARCHAR},
      product_url = #{record.productUrl,jdbcType=VARCHAR},
      sku = #{record.sku,jdbcType=VARCHAR},
      asin = #{record.asin,jdbcType=VARCHAR},
      model = #{record.model,jdbcType=VARCHAR},
      country_code = #{record.countryCode,jdbcType=VARCHAR},
      channel = #{record.channel,jdbcType=VARCHAR},
      active = #{record.active,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.lockie.product.model.ShopProduct">
    update shop_product
    <set>
      <if test="productName != null">
        product_name = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="productColor != null">
        product_color = #{productColor,jdbcType=VARCHAR},
      </if>
      <if test="imgUrl != null">
        img_url = #{imgUrl,jdbcType=VARCHAR},
      </if>
      <if test="productUrl != null">
        product_url = #{productUrl,jdbcType=VARCHAR},
      </if>
      <if test="sku != null">
        sku = #{sku,jdbcType=VARCHAR},
      </if>
      <if test="asin != null">
        asin = #{asin,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="countryCode != null">
        country_code = #{countryCode,jdbcType=VARCHAR},
      </if>
      <if test="channel != null">
        channel = #{channel,jdbcType=VARCHAR},
      </if>
      <if test="active != null">
        active = #{active,jdbcType=INTEGER},
      </if>
      <if test="createBy != null">
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null">
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null">
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null">
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="productDesc != null">
        product_desc = #{productDesc,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.lockie.product.model.ShopProduct">
    update shop_product
    set product_name = #{productName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      product_color = #{productColor,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      asin = #{asin,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      product_desc = #{productDesc,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.lockie.product.model.ShopProduct">
    update shop_product
    set product_name = #{productName,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      product_color = #{productColor,jdbcType=VARCHAR},
      img_url = #{imgUrl,jdbcType=VARCHAR},
      product_url = #{productUrl,jdbcType=VARCHAR},
      sku = #{sku,jdbcType=VARCHAR},
      asin = #{asin,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      country_code = #{countryCode,jdbcType=VARCHAR},
      channel = #{channel,jdbcType=VARCHAR},
      active = #{active,jdbcType=INTEGER},
      create_by = #{createBy,jdbcType=INTEGER},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_by = #{updateBy,jdbcType=INTEGER},
      update_date = #{updateDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>