<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sunvalley.demo.mapper.ShopOrderMapper" >
  <resultMap id="BaseResultMap" type="com.sunvalley.demo.model.ShopOrder" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="order_no" property="orderNo" jdbcType="VARCHAR" />
    <result column="order_date" property="orderDate" jdbcType="TIMESTAMP" />
    <result column="order_status" property="orderStatus" jdbcType="INTEGER" />
    <result column="order_total" property="orderTotal" jdbcType="DECIMAL" />
    <result column="order_currency_code" property="orderCurrencyCode" jdbcType="CHAR" />
    <result column="total_qty_ordered" property="totalQtyOrdered" jdbcType="INTEGER" />
    <result column="total_item_count" property="totalItemCount" jdbcType="INTEGER" />
    <result column="order_type" property="orderType" jdbcType="VARCHAR" />
    <result column="order_source" property="orderSource" jdbcType="VARCHAR" />
    <result column="order_email_flag" property="orderEmailFlag" jdbcType="INTEGER" />
    <result column="order_unpay_email_flag" property="orderUnpayEmailFlag" jdbcType="INTEGER" />
    <result column="create_by" property="createBy" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_by" property="updateBy" jdbcType="INTEGER" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, order_no, order_date, order_status, order_total,
    order_currency_code, total_qty_ordered, total_item_count, order_type, order_source, 
    order_email_flag, order_unpay_email_flag, create_by, create_date, update_by, update_date
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.sunvalley.demo.model.ShopOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.sunvalley.demo.model.ShopOrderExample" >
    delete from shop_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insertSelective" parameterType="com.sunvalley.demo.model.ShopOrder" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="AFTER" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into shop_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        user_id,
      </if>
      <if test="orderNo != null" >
        order_no,
      </if>
      <if test="orderDate != null" >
        order_date,
      </if>
      <if test="orderStatus != null" >
        order_status,
      </if>
      <if test="orderTotal != null" >
        order_total,
      </if>
      <if test="orderCurrencyCode != null" >
        order_currency_code,
      </if>
      <if test="totalQtyOrdered != null" >
        total_qty_ordered,
      </if>
      <if test="totalItemCount != null" >
        total_item_count,
      </if>
      <if test="orderType != null" >
        order_type,
      </if>
      <if test="orderSource != null" >
        order_source,
      </if>
      <if test="orderEmailFlag != null" >
        order_email_flag,
      </if>
      <if test="orderUnpayEmailFlag != null" >
        order_unpay_email_flag,
      </if>
      <if test="createBy != null" >
        create_by,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateBy != null" >
        update_by,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        #{orderTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderCurrencyCode != null" >
        #{orderCurrencyCode,jdbcType=CHAR},
      </if>
      <if test="totalQtyOrdered != null" >
        #{totalQtyOrdered,jdbcType=INTEGER},
      </if>
      <if test="totalItemCount != null" >
        #{totalItemCount,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null" >
        #{orderSource,jdbcType=VARCHAR},
      </if>
      <if test="orderEmailFlag != null" >
        #{orderEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="orderUnpayEmailFlag != null" >
        #{orderUnpayEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.sunvalley.demo.model.ShopOrderExample" resultType="java.lang.Integer" >
    select count(*) from shop_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update shop_order
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderNo != null" >
        order_no = #{record.orderNo,jdbcType=VARCHAR},
      </if>
      <if test="record.orderDate != null" >
        order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.orderStatus != null" >
        order_status = #{record.orderStatus,jdbcType=INTEGER},
      </if>
      <if test="record.orderTotal != null" >
        order_total = #{record.orderTotal,jdbcType=DECIMAL},
      </if>
      <if test="record.orderCurrencyCode != null" >
        order_currency_code = #{record.orderCurrencyCode,jdbcType=CHAR},
      </if>
      <if test="record.totalQtyOrdered != null" >
        total_qty_ordered = #{record.totalQtyOrdered,jdbcType=INTEGER},
      </if>
      <if test="record.totalItemCount != null" >
        total_item_count = #{record.totalItemCount,jdbcType=INTEGER},
      </if>
      <if test="record.orderType != null" >
        order_type = #{record.orderType,jdbcType=VARCHAR},
      </if>
      <if test="record.orderSource != null" >
        order_source = #{record.orderSource,jdbcType=VARCHAR},
      </if>
      <if test="record.orderEmailFlag != null" >
        order_email_flag = #{record.orderEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="record.orderUnpayEmailFlag != null" >
        order_unpay_email_flag = #{record.orderUnpayEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createBy != null" >
        create_by = #{record.createBy,jdbcType=INTEGER},
      </if>
      <if test="record.createDate != null" >
        create_date = #{record.createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.updateBy != null" >
        update_by = #{record.updateBy,jdbcType=INTEGER},
      </if>
      <if test="record.updateDate != null" >
        update_date = #{record.updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update shop_order
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_no = #{record.orderNo,jdbcType=VARCHAR},
      order_date = #{record.orderDate,jdbcType=TIMESTAMP},
      order_status = #{record.orderStatus,jdbcType=INTEGER},
      order_total = #{record.orderTotal,jdbcType=DECIMAL},
      order_currency_code = #{record.orderCurrencyCode,jdbcType=CHAR},
      total_qty_ordered = #{record.totalQtyOrdered,jdbcType=INTEGER},
      total_item_count = #{record.totalItemCount,jdbcType=INTEGER},
      order_type = #{record.orderType,jdbcType=VARCHAR},
      order_source = #{record.orderSource,jdbcType=VARCHAR},
      order_email_flag = #{record.orderEmailFlag,jdbcType=INTEGER},
      order_unpay_email_flag = #{record.orderUnpayEmailFlag,jdbcType=INTEGER},
      create_by = #{record.createBy,jdbcType=INTEGER},
      create_date = #{record.createDate,jdbcType=TIMESTAMP},
      update_by = #{record.updateBy,jdbcType=INTEGER},
      update_date = #{record.updateDate,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.sunvalley.demo.model.ShopOrder" >
    update shop_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null" >
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="orderDate != null" >
        order_date = #{orderDate,jdbcType=TIMESTAMP},
      </if>
      <if test="orderStatus != null" >
        order_status = #{orderStatus,jdbcType=INTEGER},
      </if>
      <if test="orderTotal != null" >
        order_total = #{orderTotal,jdbcType=DECIMAL},
      </if>
      <if test="orderCurrencyCode != null" >
        order_currency_code = #{orderCurrencyCode,jdbcType=CHAR},
      </if>
      <if test="totalQtyOrdered != null" >
        total_qty_ordered = #{totalQtyOrdered,jdbcType=INTEGER},
      </if>
      <if test="totalItemCount != null" >
        total_item_count = #{totalItemCount,jdbcType=INTEGER},
      </if>
      <if test="orderType != null" >
        order_type = #{orderType,jdbcType=VARCHAR},
      </if>
      <if test="orderSource != null" >
        order_source = #{orderSource,jdbcType=VARCHAR},
      </if>
      <if test="orderEmailFlag != null" >
        order_email_flag = #{orderEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="orderUnpayEmailFlag != null" >
        order_unpay_email_flag = #{orderUnpayEmailFlag,jdbcType=INTEGER},
      </if>
      <if test="createBy != null" >
        create_by = #{createBy,jdbcType=INTEGER},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateBy != null" >
        update_by = #{updateBy,jdbcType=INTEGER},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <resultMap id="selectPageResult" extends="BaseResultMap" type="com.sunvalley.demo.model.ShopOrder" />
  <select id="selectPage" resultMap="selectPageResult" parameterType="com.sunvalley.demo.model.ShopOrderExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from shop_order
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
    LIMIT ${skipRecordCount} , ${pageSize}
  </select>
  <insert id="insertBatch" parameterType="java.util.List" >
    <selectKey keyProperty="createDate" order="BEFORE" resultType="java.lang.String" >
       SELECT CURRENT_TIMESTAMP() 
    </selectKey>
    insert into 
    shop_order
     (
    <include refid="Base_Column_List" />
     ) values 
    <foreach collection="list" item="item" index="index" separator="," >
       ( null
      ,#{item.userId,jdbcType=INTEGER},#{item.orderNo,jdbcType=VARCHAR},#{item.orderDate,jdbcType=TIMESTAMP},
      #{item.orderStatus,jdbcType=INTEGER},#{item.orderTotal,jdbcType=DECIMAL},#{item.orderCurrencyCode,jdbcType=CHAR},
      #{item.totalQtyOrdered,jdbcType=INTEGER},#{item.totalItemCount,jdbcType=INTEGER},#{item.orderType,jdbcType=VARCHAR},
      #{item.orderSource,jdbcType=VARCHAR},#{item.orderEmailFlag,jdbcType=INTEGER},#{item.orderUnpayEmailFlag,jdbcType=INTEGER},
      #{item.createBy,jdbcType=INTEGER},#{createDate},#{item.updateBy,jdbcType=INTEGER},#{item.updateDate,jdbcType=TIMESTAMP}
       ) 
    </foreach>
  </insert>
</mapper>